.btn--icon {
  width: 65px;
  height: 65px;
  border: none;
  background: none;
  padding: 0.65rem;
  color: #fafafa;
  font-size: 46px;
  cursor: pointer;
}

.btn--text {
  width: 200px;
  height: 100px;
  padding: 1rem;
  border: 2px solid #fafafa;
  background: #b10505;
  cursor: pointer;
}

.btn--double {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 250px;
  height: 100px;
  color: #fafafa;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Cinzel";
  padding: 1rem;
  border: 1px solid #fafafa;
  background: #f10e0e;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn--double:hover {
  box-shadow: #0a0a0a 2px 2px 10px;
  transform: scale(1.05);
  filter: brightness(1.1);
}
