.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Cinzel";
  margin: 3.25rem 0 0 0;
  font-size: 18px;
}

@media (min-width: 280px) and (max-width: 421px) {
  .footer-container {
    font-size: 15px;
  }
}
