.reward-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reward-eye img {
  width: 400px;
  height: 300px;
}

.reward-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Cinzel";
  font-size: 34px;
  font-weight: 700;
}
