.reward-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reward-eye img {
  width: 400px;
  height: 300px;
}

.reward-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Cinzel";
  font-size: 34px;
  font-weight: 700;
}

.reward-link {
  position: relative;
  text-decoration: none;
  color: #fafafa;
}

.reward-link::after {
  content: "";
  position: absolute;
  width: 0;
  background: #fafafa;
  height: 3px;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.reward-link:hover::after {
  width: 100%;
}

.reset-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 280px) and (max-width: 421px) {
  .reward-texts {
    font-size: 18px;
  }

  .reward-eye img {
    width: 250px;
    height: 180px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .reward-texts {
    font-size: 22px;
  }

  .reward-eye img {
    width: 325px;
    height: 225px;
  }
}
